body{
    margin: 0;
    padding: 0;
}
section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 1410px;
}
.work1{
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
    gap: 10%;
}
.work1 div{
    left: 5%;
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work1 img{
    right: 5%;
    position: absolute;
    width: 40%; 
    height: 100%;
}
.work2{
    grid-column: 3/5;
    grid-row: 1/3;
    background-color: #f7f8f9;
    position: relative;
}
.work2 div{
    position: absolute;
    left: 15%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:  center;
}
.work1 img{
    object-fit: cover;
}
.work3{
    grid-column: 1/2;
    grid-row: 3/5;
    position: relative;
}
.work3 img{
    object-fit: cover;
    position: absolute;
    width: 75%;
    height: 45%;
    top: 10%;
    left: 15%;
}
.work3 div{
    position: absolute;
    width: 55%;
    height: 45%;
    bottom: 5%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.work4{
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: #f7f8f9;
    position: relative;
}
.work4work1{
    position: absolute;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 5%;
    top: 10%;
}
.work4 img{
    position: absolute;
    width: 40%;
    height: 50%;
    bottom: 0;
    object-fit: cover;
    
}
.work4work2{
    position: absolute;
    width: 40%;
    height: 60%;
    right: 10%;
    top: 20%;
}
.div5{
    grid-column: 4/5;
    grid-row: 3/7;
    background-color: #8f76bc;
    position: relative;
}
.div51{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 45%;
    border-radius: 99999px;
    background-color: #8166b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.div51 div{
    width: 100px;
    height: 30px;
    border-radius: 15%;
    background-color: #8f76bc;
    text-align: center;
}
.div51 img{
    width: 60%;
    height: 60%;
}
.div52{
    position: absolute;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.div52 button{
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 50px;
    background-color: #ffc80a;
}
.div6{
    grid-column: 1/2;
    grid-row: 5/7;
    background-color: #f7f8f9;
    position: relative;
}
.div6 img{
    position: absolute;
    width: 50%;
    height: 35%;
    top: 15%;
    left: 15%;
}
.div6 h2{
    position: absolute;
    bottom: 25%;
    left: 25%;
}
.div6 a{
    position: absolute;
    bottom: 15%;
    left: 40%;
    text-decoration: none;
    color: #38d5f4;
}
.div7{
    grid-column: 2/4;
    grid-row: 5/7;
    background-color: #93b6b7;
    position: relative;
}
.div71{
    position: absolute;
    left: 3%;
    top: 3%;
    width: 15%;
    height: 5%;
    background-color: #f05638;
    color: white;
    text-align: center;
    border-radius: 15%;
}
.div72{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 4%;
    left: 35%;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.div7 img{
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 0;
    left: 5%;
}
.div8{
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: #38d5f4;
    position: relative;
}
.div8 div{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
    border-radius: 50%;
    background-color: #35cfed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div9{
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: #f7f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.div9 div{
    position: absolute;
    top: 20%;
    width: 80px;
    height: 20px;
    background-color: #7bc424;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.div9 h3{
    position: absolute;
    display: block;
    width: 70%;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
.div10{
    grid-column: 3/5;
    grid-row: 7/8;
    background-color: #2c2c2c;
    position: relative;
}
.div10 img{
    position: absolute;
    left: -5%;
    width: 40%;
    height: 100%;
}
.div10 h3{
    position: absolute;
    right: 15%;
    top: 25%;
    color: white;
    font-size: 22px;
    width: 34%;
    text-align: center;
}